---
layout: page
title: Archive
---

<h3> Robotics </h3>
{% for post in site.posts %}
    {% if post.category contains "robotics" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}

<h3> AI </h3>
{% for post in site.posts %}
    {% if post.category contains "ai" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}

<h3> Sensor Fusion</h3>
{% for post in site.posts %}
    {% if post.category contains "sensorfusion" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}

<h3>C++</h3>
{% for post in site.posts %}
    {% if post.category contains "cpp" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}

<h3>Python</h3>
<div class="ui middle aligned selection list">
    <div class="item">
        <a class="header" href="/2022/12/PythonTutorial.html">
            Python Tutorial</a>
    </div>
</div>
{% for post in site.posts %}
    {% if post.category contains "python" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}

<h3>Math</h3>
{% for post in site.posts %}
    {% if post.category contains "math" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}

<h3> Algorithm </h3>
{% for post in site.posts %}
    {% if post.category contains "algorithm" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}


<h3>ETC</h3>
{% for post in site.posts %}
    {% if post.category contains "etc" %}
    <div class="ui middle aligned selection list">
        <div class="item">
            <a class="header" href="{{ BASE_PATH }}{{ post.url }}">
                {{ post.title | strip_html | truncatewords: 15 }}
                <small class="small-date">
                    {{ post.date | date_to_string }}
                </small>
            </a>
            {{ post.content | strip_html | truncatewords: 30 }}
        </div>
    </div>
    {% endif %} 
{% endfor %}


