---
layout: default
---
<div class="post-container">
    <center>
        <span class="date">
            {{ page.date | date_to_string }} 
            {% if page.category %} 
                in <i>{{ page.categories }}</i>
            {% endif %} 
        </span>
        <h1 class="post-title">{{ page.title }}</h1>
    </center>
    <div class="ui divider"></div>
    {{ content }}
    <div class="ui horizontal divider">
        Thank You For Reading
    </div>
    {% include author.html %}
</div>
<div id="github_issue">
    <script src="https://utteranc.es/client.js"
        repo="KangSooHan/KangSooHan.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>  
<a name="comments"></a>
